{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Editar entrada: {{ entry.title }}</h2>
        {{ form_start(form, {'enctype':'multipart/form-data'}) }}
        <label>Imagen:</label>
            <img width="100px" src="{{ asset('uploads/'~entry.image) }}">
        {{ form_widget(form.image) }}
        <label>Etiquetas:</label>
        {{ form_widget(form.tags, {'value':tags|trim(", ")}) }}
        {{ form_end(form) }}
    </div>
    <div class="clearfix"></div>
{% endblock %}