{% extends "BlogBundle::layout.html.twig" %}
{% block menu %}
    {% include "BlogBundle:Category:menu.categories.html.twig" with {'categories': categories} %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {% for message in app.session.flashbag().get('status') %}
            {% if message %}
                <div class="alert alert-success">La etiqueta se ha creado correctamente</div>
            {% else %}
                <div class="alert alert-danger">La etiqueta no se ha creado, porque el formulario no es válido</div>
            {% endif %}
        {% endfor %}
    </div>
    {% for entry in entries %}
        <div class="col-lg-11">
            <p class="pull-left" style="margin-right: 20px">
                {% if entry.image != null %}
                    <img width="100px" src="{{ asset('uploads/'~entry.image) }}">
                {% else %}
                    <img width="100px" src="{{ asset('uploads/Sin_imagen.png') }}">
                {% endif %}
            </p>
            <p>{{ entry.title }}</p>
            <p>{{ entry.category.name }}</p>
            <p>{{ entry.user.name }}</p>
            {% for et in entry.entryTag %}
                <p>{{ et.tag.name }}</p>
            {% endfor %}
            {% if (app.user.id is defined) and (entry.user.id  == app.user.id) %}
            <p>
                <a href="{{ path('blog_delete_entry', {"id":entry.id}) }}" class="btn btn-danger">Eliminar</a>
                <a href="{{ path('blog_edit_entry', {"id":entry.id}) }}" class="btn btn-info">Editar</a>
            </p>
            {% endif %}
            <hr>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    {% endfor %}
{% endblock %}
